<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>364613181525-uppc2190kn4pn6qijou592cqgd86079p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.364613181525-uppc2190kn4pn6qijou592cqgd86079p</string>
	<key>API_KEY</key>
	<string>AIzaSyBDFFB1JrIZxIei7F8_HvY7chavs50AcsM</string>
	<key>GCM_SENDER_ID</key>
	<string>364613181525</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shopping.udi.MyMind</string>
	<key>PROJECT_ID</key>
	<string>mymind-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>mymind-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:364613181525:ios:0bcbd61be14405e988b4dc</string>
</dict>
</plist>